<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- CSS styling -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- App js -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- External js -->
  </head>
  <header>
    <%- include('partials/_header'); %>
  </header>

  <body>
    <h1>Polls of the day</h1>
    <% let counter = 1;%>
    <% for (const poll of polls) { %>
      <div class="poll_question">
        <h3><%= poll.question %></h3>
        <div id="piechart<%=`${counter}`%>" style="width: 900px; height: 500px;"></div>
        <%counter += 1 %>
      </div>
    <% for (const choice in poll.choicesNRanks) { %>
    <div class="poll_choice">
      <%= choice %>
    </div>
    <% } %>
    <% } %>
  </body>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    let polls = <%- JSON.stringify(polls) %>;

    let questions = [];
    let ranks = [];
    let choices = [];
    for (const poll of polls) {
       questions.push(poll.question);
     for (const choice in poll.choicesNRanks) {
       choices.push(choice);
       ranks.push(poll.choicesNRanks[choice]);
     }
     }

    function drawChart() {

      var data1 = google.visualization.arrayToDataTable([
        ['Temporary Header', 'Daily'],
        [choices[0],        ranks[0]],
        [choices[1],        ranks[1]],
        [choices[2],        ranks[2]],
      ]);

      var options1 = {
        backgroundColor: '#EEE',
        title: questions[0],
        pieHole: 0.6,
      };

      var data2 = google.visualization.arrayToDataTable([
        ['Temporary Header', 'Daily'],
        [choices[3],        ranks[3]],
        [choices[4],        ranks[4]],
        [choices[5],        ranks[5]],
      ]);

      var options2 = {
        backgroundColor: '#EEE',
        title: questions[1],
        pieHole: 0.6,
      };

      var data3 = google.visualization.arrayToDataTable([
        ['Temporary Header', 'Daily'],
        [choices[6],        ranks[6]],
        [choices[7],        ranks[7]],
        [choices[8],        ranks[8]],
      ]);

      var options3 = {
        backgroundColor: '#EEE',
        title: questions[2],
        pieHole: 0.6,
      };

      var chart1 = new google.visualization.PieChart(document.getElementById('piechart1'));
      var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
      var chart3 = new google.visualization.PieChart(document.getElementById('piechart3'));

      chart1.draw(data1, options1);
      chart2.draw(data2, options2);
      chart3.draw(data3, options3);
    }
  </script>
</html>