<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Header Partial, includes app CSS/scripts -->
    <%- include('partials/_header'); %>
    <!-- Home page CSS -->
      <link rel="stylesheet" href="/styles/index.css" type="text/css" />
      <link rel="stylesheet" href="/styles/results.css" type="text/css" />

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      let polls = <%- JSON.stringify(polls) %>;

      function drawChart() {

      let counter = 1;
      for (const poll of polls) {
        let tableData = [['Choices', 'Ranks']];
        let tableOptions = {
          backgroundColor: '#D3ECEE',
          title: poll.questions,
          pieHole: 0.6,
          width: 500,
          height: 550,
          chartArea: {'left': 50, 'width': '100%', 'height': '80%'},
          colors: ['#E63946', '#457B9D', '#1D3557', '#A8DADC', '#F1FAEE'],
          legend: { position: 'right', textStyle: { fontSize: 20, fontName: 'Oswald' }, alignment: 'center' },
        };
      for (const choice in poll.choicesNRanks) {
        tableData.push([choice, poll.choicesNRanks[choice].rank])
      }
      let chart = new google.visualization.PieChart(document.getElementById(`piechart${counter}`));
      counter += 1;
      chart.draw(google.visualization.arrayToDataTable(tableData), tableOptions);
      }

    }
  </script>

  </head>

  <body>
    <main class="home-page">

      <div class="cheeky-comment" id="polls-of-day">
        <p class="bold-comment">Polls of the day</p>
        <p class="light-comment">(Maybe yours will be featured?)</p>
      </div>

      <div class="poll-results">
      <% let counter = 1;%>
      <% for (const poll of polls) { %>
        <div class="poll_question">
        <div class="poll-results" id="poll-results">
          <p class="bold-comment" id="results-title"><%= poll.question %></p>
          <p class="light-comment" id="results-description"><%= poll.description %></p>
          <ul>
            <% for (const key in poll.choicesNRanks) { %>
              <% let choice = poll.choicesNRanks[key]%>
              <div class="choice-result">
                <li class="results-list"><%= key %></li>
                <span class="percentage"><%= choice.percentage %>%</span>
              </div>
                <% } %>
            </ul>
          </div>
          <div id="piechart<%=`${counter}`%>"></div>
          <%counter += 1 %>
        </div>
      <% } %>
    </div>

    </main>
  </body>

</html>
