<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <!-- <h3><% for (const tmp in index) { %></h3>
    <h3><%= index[tmp].title %></h3>
    <h3><%= index[tmp].name %></h3>
    <% } %> -->
    <tbody> 
      <tr>
      <td> <%= index[0].polls %> </td>
      <td> <%= index[0].choice %> </td>
      <td> <%= index[1].choice %> </td>
      <td> <%= index[2].choice %> </td>
      </tr>
    </tbody>
  
  </body>
</html>