<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Header Partial, includes app CSS/scripts -->
    <%- include('partials/_header') %>
    <!-- Voting page CSS -->
    <link rel="stylesheet" href="/styles/voting.css" type="text/css" />
    <!-- Jquery dependencies for sortable -->
    <script src="https://code.jquery.com/jquery-3.x-git.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Voting/share links scripts -->
    <script src="/scripts/poll_voting.js"></script>
    <script src="/scripts/share.js"></script>

  </head>




  <body>
    <!-- Throw error message if poll doesnt exist/hasn't been voted on yet -->
    <% if (!inDatabase) { %>
      <main>
        <div id="error-cheeky-comment">
          <p class="bold-comment">It doesn't exist or something. I don't know.</p>
          <p class="light-comment">(Just come back later, okay?)</p>
        </div>
      </main>

      <% } else { %>
    <main>

      <div id="poll-voting">
        <p id="poll-title" class="bold-comment"><%= title %></p>
        <% if (description) { %>
        <p id="poll-description"><%= description %></p>
        <% } %>
        <ul id="sortable">
          <% for (const choice of choices) { %>
            <li id="vote-item"><%= choice %></li>
          <% } %>
          <li hidden><%= submission_link.slice(-6) %></li>
        </ul>
        <div class="form-buttons">
          <button id="submit-btn" type="button">SUBMIT</button>
          <button class="share-btn" id="share-btn" type="button">SHARE</button>
          <div class="share-links">
            <span>Results page</span>
            <input type="text" value=<%= admin_link %> id="admin-link">
            <button class="page-link" id="admin-link-btn" type="button">Copy</button>
            <span>Voting page</span>
            <input type="text" value=<%= submission_link %> id="sub-link">
            <button class="page-link" id="sub-link-btn" type="button">Copy</button>
          </div>
        </div>
      </div>

    </main>

    <% } %>
  </body>

</html>
