<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/results.css" type="text/css" />
    <script src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      <div class="cheeky-comment">
        <p class="bold-comment">Results? you have none</p>
        <p class="light-comment">(figure it out dude)</p>
      </div>

      <div id="poll-form">
          <p class="bold-comment"><%= title %></p>
          <p class="light-comment"><%= description %></p>
          <ul>
            <% for (choice of choices) { %>
              <div class="choice-result">
                <li><%= choice.name %></li>
                <span><%= choice.ranking %></span>
              </div>
              <% } %>
          </ul>
        <button type="submit" id="poll-submit-button">Share</button>
        </div>

    </main>





  </body>
</html>
